@()

<!-- WiFree utils -->
<script src="@routes.Assets.versioned("js/wifree.js")"></script>

<!-- jQuery -->
<script src="@routes.Assets.versioned("js/jquery.min.js")"></script>

<!-- DateJS -->
<script src="@routes.Assets.versioned("js/flot/date.js")"></script>

<!-- bootstrap-daterangepicker -->
<script src="@routes.Assets.versioned("js/moment/moment.min.js")"></script>
<script src="@routes.Assets.versioned("js/datepicker/daterangepicker.js")"></script>

<!-- Bootstrap -->
<script src="@routes.Assets.versioned("js/bootstrap.min.js")"></script>

<!-- NProgress -->
<script src="@routes.Assets.versioned("js/nprogress.js")"></script>

<!-- Chart.js -->
<script src="@routes.Assets.versioned("js/chartjs/chart.min.js")"></script>

<!-- gauge.js -->
<script src="@routes.Assets.versioned("js/gauge/gauge.min.js")"></script>

<!-- bootstrap progress js -->
@parts.js.bootstrap_progress()

<!-- iCheck -->
<script src="@routes.Assets.versioned("js/icheck/icheck.min.js")"></script>

<!-- Skycons -->
<script src="@routes.Assets.versioned("js/skycons/skycons.min.js")"></script>

<!-- Flot -->
<script src="@routes.Assets.versioned("js/flot/jquery.flot.js")"></script>
<script src="@routes.Assets.versioned("js/flot/jquery.flot.pie.js")"></script>
<script src="@routes.Assets.versioned("js/flot/jquery.flot.time.min.js")"></script>
<script src="@routes.Assets.versioned("js/flot/jquery.flot.stack.js")"></script>
<script src="@routes.Assets.versioned("js/flot/jquery.flot.resize.js")"></script>

<!-- Flot plugins -->
<script src="@routes.Assets.versioned("js/flot/jquery.flot.orderBars.js")"></script>
<script src="@routes.Assets.versioned("js/flot/jquery.flot.spline.js")"></script>
<script src="@routes.Assets.versioned("js/flot/curvedLines.js")"></script>

<!-- Custom Theme Scripts -->
<script src="@routes.Assets.versioned("js/gentelella.js")"></script>