@import models.Portal;

@(isPortalDefined: Boolean, socialLogin: Boolean = false, surveyLogin: Boolean = false)

<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

	<div class="menu_section">
		<h3>General</h3>
		<ul class="nav side-menu">
			@if( isPortalDefined ){
				<li><a href="@routes.AdminAppController.dashboard"><i class="fa fa-wifi"></i> @Messages("menu.sidebar.connections") </a></li>
			}
			<li><a><i class="fa fa-gears"></i>
				@Messages("menu.sidebar.portal-settings") <span class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu" style="display: none">
					<li><a href="@routes.AdminAppController.portalSettings">@Messages("menu.sidebar.portal-settings.portal.manage")</a></li>
					@if( socialLogin ){
						<li><a href="@routes.AdminAppController.loginSettings">@Messages("menu.sidebar.portal-settings.socialLogin.manage")</a></li>
					}
					@if( surveyLogin ){
						<li><a href="@routes.AdminAppController.surveys">@Messages("menu.sidebar.surveys.manage")</a></li>
					}
				</ul>
			</li>
			@if( isPortalDefined ){
				<li><a><i class="fa fa-stack-exchange"></i>
					@Messages("menu.sidebar.data") <span class="fa fa-chevron-down"></span></a>
					<ul class="nav child_menu" style="display: none">
						@if( socialLogin ){
						<li><a href="@routes.AdminAppController.allCollectedSocialData">@Messages("menu.sidebar.data.redes")</a></li>
						}
						@if( surveyLogin ){
						<li><a href="@routes.AdminAppController.allSurveys">@Messages("menu.sidebar.data.surveys")</a></li>
						}
						<li><a href="@routes.AdminAppController.analytics">@Messages("menu.sidebar.data.visitas") </a></li>
					</ul>
				</li>
			}
		</ul>
	</div>

</div>
<!-- /sidebar menu -->