@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@import org.pac4j.core.profile.CommonProfile

@(profile: CommonProfile, portalIsDefined: Boolean, socialLoginEnabled: Boolean, surveysEnabled: Boolean)

@username = @{profile.getAttribute("realName").toString}

<div class="col-md-3 left_col">
    <div class="left_col scroll-view">

        @parts.menu_site_title()

        @parts.menu_profile_quickinfo(username)

        <br/>

        @parts.sidebar_menu(portalIsDefined, socialLoginEnabled, surveysEnabled)
        @parts.menu_footer_buttons()

    </div>
</div>

@parts.top_navigation(username)
