@(loginConfiguration: Field, title: String)

<div class="col-md-6">
    <h3>@title</h3>
    <div hidden>
        @helper.inputText(loginConfiguration("id"))
        @helper.inputText(loginConfiguration("loginMethod"))
        @helper.checkbox(loginConfiguration("socialLogin"))
    </div>
        <div class="form-group row">
            <div class="col-md-10 col-sm-6 col-xs-6">
                <div class="wifree-checkbox">
                    @helper.input(loginConfiguration("enabled"),
                    '_label -> "Activado",
                    'class -> "form-control col-md-3 col-xs-3",
                    'style -> "height: 20px; width: 5%;"){ (id, name, value, args) =>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="@name" id="@id" @if(value.get=="true"){checked}else{}>
                            <label class="form-check-label" for="@id">
                                Red social activa
                            </label>
                        </div>
                    }
                </div>
            </div>
        </div>
    <div class="@loginConfiguration("keys")("name"))">
        <div class="form-group row">
                <div class="col-md-10 col-sm-6 col-xs-6">
                    @helper.inputText(loginConfiguration("keys")("clientId"), '_label -> "Id de Cliente", 'class -> "form-control col-md-6 col-xs-12")
                </div>
            </div>
        <div class="form-group row">
            <div class="col-md-10 col-sm-6 col-xs-6">
                @helper.inputText(loginConfiguration("keys")("secret"), '_label -> "Secreto", 'class -> "form-control col-md-6 col-xs-12")
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">   
    $(document).ready(function() {
        const target = '@loginConfiguration("enabled").name';
        hideFormFields(document, target);
    });
</script>