@import play.mvc.Http.Context.Implicit.flash

@(url: String)

<!DOCTYPE html>
<html lang="es">

	<head>
		@parts.head("Login Admin")
	</head>
	
	<script>
	$(document).ready
		
(function () {
  'use strict'
  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')
  // Loop over them and prevent submission
   Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})
	</script>

	<body style="background:#F7F7F7;">
	@* show Flash messages *@
	@flash.map{ case (name, value) =>
		<div id="credentialsError" class="alert alert-danger" role="alert">@name: @value</div>
	}

	<div class="">
			<a class="hiddenanchor" id="toregister"></a>
			<a class="hiddenanchor" id="tologin"></a>

			<div id="wrapper">
				<div id="login" class="animate form">
					<section class="login_content">
						<form action="@url" method="post" class="needs-validation" novalidate>
							<h1>Iniciar Sesión</h1>
							<div>
								<input type="email" name="username" class="form-control" placeholder="Correo Electrónico" aria-describedby="inputGroupPrepend" required>
								<div id="empty-username" class="invalid-feedback">
									Por favor ingrese email provisto por Wifree
								</div>
							</div>
							<div>
								<input type="password" name="password" class="form-control" placeholder="Contraseña" aria-describedby="inputGroupPrepend" required>
								<div id="empty-password" class="invalid-feedback">
									Por favor ingrese contraseña provista por Wifree
								</div>
							</div>
							<div class="form-group">
								<div>
									<button type="submit" name="submit" value="Submit" class="btn btn-primary">Iniciar Sesión</button>
								</div>
							</div>
							<div class="clearfix"></div>
							<div class="separator">
								<div class="clearfix"></div>
								<br />
								<div>
									<h1><img src="@routes.Assets.versioned("img/wifree-logo.png")" height="24"/> WiFree</h1>
								</div>
							</div>
						</form>
							<!-- form -->
					</section>
						<!-- content -->
				</div>
			</div>
		</div>

	</body>

</html>
