@import views.dto.SocialKeysView

@import models.types.LoginMethodType
@(socialKeysForm: Form[SocialKeysView], portalForm: Form[Portal])

<!-- Page content -->
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-6 col-xs-12">
            @** Social Keys START **@
            <div>
                <h1>Configuración de Redes Sociales</h1>
                <div class="x-content">
                    @helper.form(controllers.admin.routes.SocialLoginKeysController.saveSocialKeys()) {
                        <h2>Login Social</h2>
                    <div class="form-group row">
                        @parts.social_keys(socialKeysForm("google"), "Google")
                    </div>
                    <div class="form-group row">
                        @parts.social_keys(socialKeysForm("facebook"), "Facebook")
                    </div>
                        <div class="form-group">
                            <div class="col-md-12 col-sm-6 col-xs-12 col-md-offset-10">
                                <button type="submit" class="btn btn-success">@Messages("submit")</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
            @** Social Keys END **@
        </div>
    </div>
</div>
<!-- Page content -->
<style>
    .wifree-checkbox dl {
        width: 100%;
        overflow: hidden;
        padding: 2px;
        margin: 0
    }
    .wifree-checkbox dt {
        float: left;
        width: 25%;
        /* adjust the width; make sure the total of both is 100% */
        padding: 4px;
        margin: 0
    }
    .wifree-checkbox dd {
        float: left;
        width: 75%;
        /* adjust the width; make sure the total of both is 100% */
        padding: 4px;
        margin: 0
    }
</style>