@import views.dto.PortalOptionsView

@import models.types.PortalApplicationType
@import models.types.LoginMethodType

@(form: Form[PortalOptionsView])

<style>
    .wifree-checkbox dl {
        width: 100%;
        overflow: hidden;
        padding: 2px;
        margin: 0
    }
    .wifree-checkbox dt {
        float: left;
        width: 25%;
        /* adjust the width; make sure the total of both is 100% */
        padding: 4px;
        margin: 0
    }
    .wifree-checkbox dd {
        float: left;
        width: 75%;
        /* adjust the width; make sure the total of both is 100% */
        padding: 4px;
        margin: 0
    }
</style>


<!-- Page content -->
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-9 col-sm-6 col-xs-12">
            @helper.form(controllers.admin.routes.PortalSettingsController.savePortalOptions(),
                Symbol("novalidate")-> "novalidate",
                'class -> "needs-validation",
                'enctype -> "multipart/form-data") {
                <div>
                    <h1>Configuración del Portal</h1>
                    <div class="x-content">
                        <div hidden>
                            @helper.inputText(form("portalId"))
                        </div>
                        
                        @helper.input(form("name"), '_label ->"Nombre del Portal") { (id, name, value, args) =>
                        <input type="text" name="@name" id="@id" @toHtmlArgs(args)
                               class="form-control col-md-6 col-xs-12"
                               aria-describedby="inputGroupPrepend" placeholder="Portal de Mi tienda" value="@value" required>
                        <div id="empty-name" class="invalid-feedback">
                            Por favor ingrese un nombre de portal
                        </div>
                        }
                        
                        @helper.input(form("description"), '_label ->"Texto inicial de bienvenida al visitante") { (id, name, value, args) =>
                            <input type="text" name="@name" id="@id" @toHtmlArgs(args) 
                                   class="form-control col-md-6 col-xs-12"
                                   aria-describedby="inputGroupPrepend" placeholder="Bienvenides! Es necesario autenticarse para poder utilizar WiFi" value="@value" required>
                            <div id="empty-description" class="invalid-feedback">
                                Por favor ingrese un texto inicial de bienvenida al visitante
                            </div>
                        }
                        
                        @helper.inputText(form("homeURL"), '_label -> "URL de Redirección", 'class -> "form-control col-md-6 col-xs-12")
                        
                        <div class="form-group">
                                    @helper.inputCheckboxGroup(
                                    form("loginMethods"),
                                    options = LoginMethodType.portalLoginTypes(),
                                    Symbol("_required") -> "required",
                                    Symbol("_label") -> Messages("connections.label.login-method"),
                                    Symbol("_error") -> form("loginMethods").error.map(_.withMessage("Se debe elegir al menos un metodo")))                                        </div>
                            
                        </div>
                    @helper.input(form("portalId"),'_label ->"Vista previa" ) { (id, name, value, args) =>
                     <a id="@id" name="preview" href='http://localhost:3000/route?mac=0a:f9:d3:c2:0c:4c&ip=127.0.0.0&link-login=http://localhost:3000/radiuscall&client=@value&link-orig=blah&error=blah&mac_client=blah&device=blah&chap-id=blah&chap-challenge=blah&mac-esc=blah'>Ir hacia el portal</a>
                    }
                    
                    <div class="row">
                        @parts.portal_app(form("template"), "template")
                        @parts.portal_app(form("carousel"), "carousel")
                    </div>

                    @*** Submit Button START ***@
                    <div class="form-group">
                        <div class="col-md-12 col-sm-6 col-xs-12 col-md-offset-10">
                            <button type="submit" class="btn btn-success">@Messages("submit")</button>
                        </div>
                    </div>
                    @*** Submit Button END ***@
                </div>
            }
        </div>
    </div>
</div>
<script src="@routes.Assets.versioned("js/removeDefaultTooltip.js")">
<!-- Page content -->