@(surveyForm: Form[Survey], isEditing: Boolean, isCreating: Boolean, currentAnswer: Int = 0, totalAnswers: Int = 0)

@parts.js.surveys_js(isEditing)

<style>
    .wifree-checkbox dl {
        width: 100%;
        overflow: hidden;
        padding: 2px;
        margin: 0
        }
    .wifree-checkbox dt {
        float: left;
        width: 25%;
        /* adjust the width; make sure the total of both is 100% */
        padding: 4px;
        margin: 0
    }
    .wifree-checkbox dd {
        float: left;
        width: 75%;
        /* adjust the width; make sure the total of both is 100% */
        padding: 4px;
        margin: 0
    }
    
    .survey-header {
        
    }
    .question-form-header {
        display: flex;
        gap: 5%;
    }
    
    .question-buttons > div {
        display: flex;
        gap: 5%;
        justify-content: space-between;
        padding-bottom: 2%;
    }
    
    .question-form-content {
        
    }
    
    .sticky {
      position: fixed;
      top: 0;
      width: 100%
    }

    .sticky + .question-form-content {
      padding-top: 15%;
    }
</style>

<!-- Page content -->
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-6 col-xs-12">
            @*** Title START ***@
            @if(isCreating || isEditing) {
                <h1>Formulario de Encuesta</h1>
            } else {
                <h1>Resultados de Encuesta</h1>
            }
            @*** Title END ***@
            
            @*** Navigation Buttons START ***@
            @if(!isEditing && !isCreating) {
                <div>
                    @if(currentAnswer>1){
                        <button type="button" class="btn btn-link" onclick="previous()" style="font-weight: bold;">Anterior
                        </button>
                    } else {
                        <button type="button" class="btn btn-link" disabled>Anterior</button>
                    }
                    <span> Respuesta 
                        <input id="answerNumber" type="number" size="1" value="@currentAnswer" min="1" max="@totalAnswers"
                               style="font-weight: bold;">
                        de <span id="totalAnswers">@totalAnswers</span>
                    </span>
                    @if(currentAnswer < totalAnswers){
                        <button type="button" class="btn btn-link" onclick="next()" style="font-weight: bold;">Siguiente
                        </button>
                    } else {
                        <button type="button" class="btn btn-link" disabled>Siguiente</button>
                    }
                </div>
            }
            <div class="ln_solid"></div>

            @*** Navigation Buttons END ***@
            @*** Form START ***@
            <div class="survey-body">
                @helper.form(
                    controllers.admin.routes.SurveysController.createSurvey(), 
                    'id -> "surveyForm",
                    Symbol("data-parsley-validate") -> "true",
                    Symbol("novalidate")-> "novalidate",
                    'class -> "form-horizontal form-label-left needs-validation"
                ){ 
                    @*** Question Title and Enabled START ***@
                    <div class="form-group row survey-header" id="survey-header">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <h2>
                                @helper.input(surveyForm("title"), 
                                '_label -> Messages("surveys.label.title"),
                                'class -> "form-control col-md-7 col-xs-12"
                                ) { (id, name, value, args) =>
                                <input type="text" name="@name" id="@id" @toHtmlArgs(args)
                                       aria-describedby="inputGroupPrepend" placeholder="Ingrese un título que invite al visitante a responder la encuesta" value="@value" required/>
                                <div id="empty-name" class="invalid-feedback">
                                    Debe ingresar un título para crear la encuesta
                                </div>
                                }
                            </h2>
                            @if(isEditing || isCreating) {
                                <div class="wifree-checkbox">
                                @helper.checkbox(surveyForm("enabled"), 
                                    '_label -> "¿Activada?", 
                                    'class -> "form-control form-check-input col-md-7 col-xs-12", 
                                    'style -> "height: 20px; width: 5%;")
                                </div>
                            }
                            @*** Fields Buttons START ***@
                            @if(isEditing || isCreating) {
                            <div class="question-buttons">
                                <div>
                                    <button type="button" id="newInputButton" class="btn btn-primary"
                                            style="display: none">New Input
                                    </button>
                                </div>
                                <div>
                                    <div>@Messages("surveys.new-field.text")</div>
                                    <button type="button" id="newTextInputButton" class="btn btn-info fa fa-plus" title="@Messages("surveys.new-field.text")">
                                    </button>
                                </div>
                                <div>
                                    <div>@Messages("surveys.new-field.rating")</div>
                                    <button type="button" id="newRatingInputButton" class="btn btn-info fa fa-plus" title="@Messages("surveys.new-field.rating")">
                                    </button>
                                </div>
                                <div>
                                    <div>@Messages("surveys.new-field.radio")</div>
                                    <button type="button" id="newRadioInputButton" class="btn btn-info fa fa-plus" title="@Messages("surveys.new-field.radio")">
                                    </button>
                                </div>
                                <div>
                                    <div>@Messages("surveys.new-field.checkbox")</div>
                                    <button type="button" id="newCheckboxInputButton" class="btn btn-info fa fa-plus" title="@Messages("surveys.new-field.checkbox")">
                                    </button>
                                </div>
                            </div>
                            }
                        </div>
                        
                    </div>
                    @*** Question Title and Enabled END ***@
                    <div class="ln_solid"></div>

                    <div style="display: none">
                            @helper.inputText(surveyForm("id"))
                        </div>
                        @if(!surveyForm("fields").indexes().isEmpty) {
                             <div>
                                @helper.repeat(surveyForm("fields")) { field =>
                                    <div style="display: none">
                                        @helper.inputText(field("id"))
                                    </div>
        
                                    @if(!isCreating) {
                                        <div class="form-group row survey-fields-set">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6 col-xs-12 question-form-header">
                                                        @if(isCreating) {
                                                        <h3>Pregunta @{field.label.last}</h3>
                                                        } else {
                                                        <h3>Pregunta @{field.label.last.toString.toInt + 1}</h3>
                                                        }
    
                                                        @if(isEditing || isCreating) {
                                                        <button type="button" name="delete" class="btn delete-button"
                                                                onclick="deleteSection(this)">
                                                            <i class="fa fa-trash" title="Borrar campo"></i>
                                                        </button>
                                                        }
                                                    </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6 col-xs-12 question-form-content">
                                                    @*** Type ***@
                                                    <div hidden>
                                                        @helper.inputText(field("type"),
                                                        'class -> "form-control col-md-7 col-xs-12 field-type")
                                                    </div>
    
                                                    @*** Key START ***@
                                                    <div hidden>
                                                        @if(isCreating) {
                                                        @defining("key_" + field.label.last) { keyValue =>
                                                        <input type="text" id="@{field(" config")("key").id}" name="@{field("config")("key").name}" value="@keyValue">
                                                        }
                                                        } else {
                                                        @helper.inputText(field("config")("key"),
                                                        'class -> "form-control col-md-7 col-xs-12")
                                                        }
                                                    </div>
                                                    @*** Key END ***@
    
                                                    @*** Label ***@
                                                    @helper.inputText(field("config")("label"),
                                                    '_label -> Messages("surveys.label.label"),
                                                    'class -> "form-control col-md-7 col-xs-12")
    
                                                    @*** Order ***@
                                                    <div hidden>
                                                        @if(isCreating) {
                                                        <input type="number" id="@{field(" config")("order").id}" name="@{field("config")("order").name}" value="@{field.label.last.toString.toInt + 1}">
                                                        } else {
                                                        @helper.inputText(field("config")("order"),
                                                        '_label ->
                                                        Messages("surveys.label.order"), 'type -> "number", 'class -> "form-control col-md-7 col-xs-12", 'min -> "0")
                                                        }
                                                    </div>
    
                                                    @*** Required START ***@
                                                    <div class="wifree-checkbox">
                                                        @helper.checkbox(field("config")("required"),
                                                        '_label -> Messages("surveys.label.required"),
                                                        'class -> "form-control form-check-input col-md-3 col-xs-3",
                                                        'style -> "height: 20px; width: 5%;")
                                                    </div>
                                                    @*** Required END ***@
    
                                                    @*** Value START ***@
                                                    @if(isEditing || isCreating) {
                                                    } else {
                                                        @defining(field("type").value.get) { fieldType =>
                                                            @if(fieldType == "checkbox" || fieldType == "radio" || fieldType == "rating") {
                                                                <div hidden>
                                                                    @helper.inputText(field("config")("value"),
                                                                    '_label -> Messages("surveys.label.value"),
                                                                    'class -> "form-control col-md-7 col-xs-12 question-text")
                                                                </div>
                                                            } else {
                                                                <div>
                                                                    @helper.inputText(field("config")("value"),
                                                                    '_label -> Messages("surveys.label.value"),
                                                                    'class -> "form-control col-md-7 col-xs-12 question-text")
                                                                </div>
                                                            }
                                                        }
                                                    }
                                                    @*** Value END ***@
                                                    @if(isCreating || !field("type").value.isEmpty) {
                                                        @*** Maximum START ***@
                                                        @if(isCreating ||  field("type").value.get == "rating"){
                                                            <div>
                                                                @if(!isEditing && !isCreating && field("type").value.get == "rating") {
                                                                    <label>Respuesta</label>
                                                                    <div class="lead">
                                                                        @defining(field("config")("maximum").value.get.toInt) { max =>
                                                                            @defining(field("config")("value").value.get.toInt) { v =>
                                                                                @defining(1 to v) { range =>
                                                                                    @range.map { n =>
                                                                                        <span class="glyphicon .glyphicon-star-empty glyphicon-star"></span>
                                                                                    }
                                                                                }
                                                                                @defining(v+1 to max) { range =>
                                                                                    @range.map { n =>
                                                                                        <span class="glyphicon .glyphicon-star-empty glyphicon-star-empty"></span>
                                                                                    }
                                                                                }
                                                                            }
                                                                        }
                                                                    </div>
                                                                } else {
                                                                    @helper.inputText(field("config")("maximum"),
                                                                    '_label -> Messages("surveys.label.maximum"),
                                                                    'class -> "form-control col-md-7 col-xs-12 question-rating",
                                                                    'type -> "number", 'min -> "2")
                                                                }
                                                            </div>
                                                        }
                                                        @*** Maximum END ***@
        
                                                        @if(isCreating || field("type").value.get == "checkbox" || field("type").value.get == "radio") {
                                                            <div class="rating-options">
                                                            <div>
                                                                @if(!isEditing && !isCreating && field("type").value.fold(false)(x => x == "checkbox" || x == "radio")) {
                                                                <label>Respuesta</label>
                                                                }
                                                                @helper.repeat(field("config")("otherOptions"), min = 1) { optionsField =>
                                                                    <div class="rating-option wifree-checkbox">
                                                                        @if(isEditing || isCreating) {
                                                                            <div hidden>
                                                                                @helper.inputText(optionsField("index"), '_label ->
                                                                                Messages("surveys.label.option.index"), 'type -> "number",
                                                                                'class -> "form-control col-md-7 col-xs-12 question-radio")
                                                                            </div>
                                                                            @helper.inputText(
                                                                            optionsField("key"),
                                                                            '_label ->
                                                                            Messages("surveys.label.option.key"),
                                                                            'class -> "form-control col-md-7 col-xs-12 question-radio")
                                                                            } else {
                                                                                @if(field("type").value.fold(false)(x => x == "checkbox" || x == "radio")) {
                                                                                <div class="input-group">
                                                                                                <span class="input-group-addon">
                                                                                                    @if(field("config")("value").value.get.contains(optionsField("key").value.get)) {
                                                                                                        <input type="checkbox" checked>
                                                                                                    } else {
                                                                                                        <input type="checkbox">
                                                                                                    }
                                                                                                </span>
                                                                                    <input type="text" value="@optionsField("key").value" class="form-control col-md-7 col-xs-12 question-radio">
                                                                                </div>
                                                                                }
                                                                            }
                                                                    </div>
                                                                }
                                                                @if(isEditing || isCreating) {
                                                                    <div class="rating-option wifree-checkbox">
                                                                        <dl>
                                                                            <dt>@Messages("surveys.add-option")</dt>
                                                                            <dd>
                                                                                <button type="button" class="btn btn-info"
                                                                                        onclick="addRatingOption(this)">
                                                                                    <i class="fa fa-plus" title="@Messages("surveys.add-option")"></i>
                                                                                </button>
                                                                            </dd>
                                                                        </dl>
                                                                    </div>
                                                                }
                                                            </div>
                                                        </div>
                                                        }
                                                    }
    
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        }
                        <div class="ln_solid"></div>
                        @*** Fields Buttons END ***@
                        @if(isEditing || isCreating){
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-6">
                                    <button type="submit" class="btn btn-success">@Messages("submit")</button>
                                </div>
                            </div>
                        }
                    }
            </div>
            @*** Form END ***@
        </div>
    </div>
</div>

<script src="@routes.Assets.versioned("js/removeDefaultTooltip.js")">
