@(adminForm: Form[Admin], portalForm: Form[Portal], portals: List[Portal], admins: List[Admin])

<html lang="es">
	<head>
		<meta charset="utf-8">
		<title>Admin Console</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/cosmo.bootstrap.min.css")">
	</head>
	<body>
		<div class="container">
			<h1>Console Index</h1>
			<br>

			<div>
				<h2>Create Admin</h2>
				@helper.form(routes.ConsoleController.createAdmin()) {
				<div class="form-group">
					@helper.inputText(adminForm("name"), 'class -> "form-control")
					@helper.inputText(adminForm("email"), 'class -> "form-control")
					@helper.inputPassword(adminForm("password"), 'class -> "form-control")
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
				}
			</div>

		</div>
	</body>
</html>